android/build
ios/RCTOneSignal.xcodeproj/xcuserdata
examples/AwesomeProject/node_modules
*.iml
local.properties
examples/AwesomeProject/android/app/build
examples/AwesomeProject/android/.gradle
examples/AwesomeProject/android/.idea
examples/AwesomeProject/android/build
examples/AwesomeProject/ios/AwesomeProject.xcodeproj/project.xcworkspace/xcshareddata
examples/AwesomeProject/ios/AwesomeProject.xcodeproj/project.xcworkspace/xcuserdata
examples/AwesomeProject/ios/AwesomeProject.xcodeproj/xcuserdata
examples/AwesomeProject/ios/AwesomeProject.xcworkspace/xcshareddata
examples/AwesomeProject/ios/AwesomeProject.xcworkspace/xcuserdata
ios/RCTOneSignal.xcodeproj/project.xcworkspace/xcshareddata
examples/AwesomeProject/ios/Pods/Pods.xcodeproj/xcuserdata
android/.idea
images