node_modules/
android/build
ios/RCTOneSignal.xcodeproj/xcuserdata
examples/CocoapodsDemo/node_modules
examples/RNOneSignal/node_modules
*.iml
local.properties
examples/CocoapodsDemo/android/app/build
examples/CocoapodsDemo/android/.gradle
examples/CocoapodsDemo/android/.idea
examples/CocoapodsDemo/android/build
examples/CocoapodsDemo/ios/CocoapodsDemo.xcodeproj/project.xcworkspace/xcshareddata
examples/CocoapodsDemo/ios/CocoapodsDemo.xcodeproj/project.xcworkspace/xcuserdata
examples/CocoapodsDemo/ios/CocoapodsDemo.xcodeproj/xcuserdata
examples/CocoapodsDemo/ios/CocoapodsDemo.xcworkspace/xcshareddata
examples/CocoapodsDemo/ios/CocoapodsDemo.xcworkspace/xcuserdata
examples/CocoapodsDemo/ios/Pods/Pods.xcodeproj/xcuserdata
examples/RNOneSignal/android/app/build
examples/RNOneSignal/android/.gradle
examples/RNOneSignal/android/.idea
examples/RNOneSignal/android/build
examples/RNOneSignal/ios/RNOneSignal.xcodeproj/project.xcworkspace/xcshareddata
examples/RNOneSignal/ios/RNOneSignal.xcodeproj/project.xcworkspace/xcuserdata
examples/RNOneSignal/ios/RNOneSignal.xcodeproj/xcuserdata
examples/RNOneSignal/ios/RNOneSignal.xcworkspace/xcshareddata
examples/RNOneSignal/ios/RNOneSignal.xcworkspace/xcuserdata
ios/RCTOneSignal.xcodeproj/project.xcworkspace/xcshareddata
examples/RNOneSignal/ios/Pods/Pods.xcodeproj/xcuserdata
android/.idea
images
