<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834378314361-gs111k3ueqtmua3rvq532ugh2ddud70g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834378314361-gs111k3ueqtmua3rvq532ugh2ddud70g</string>
	<key>API_KEY</key>
	<string>AIzaSyBH6-s4mRHOXxcdRfMTzegUwzqRZE8mnBc</string>
	<key>GCM_SENDER_ID</key>
	<string>834378314361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testapp.rodrigo</string>
	<key>PROJECT_ID</key>
	<string>rnonesignalts</string>
	<key>STORAGE_BUCKET</key>
	<string>rnonesignalts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834378314361:ios:c2fb908faaebbd8e451aa8</string>
</dict>
</plist>