<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geektime.rnonesignalandroid">
    <application>
        <service
            android:name=".NotificationNotDisplayingExtender"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>
</manifest>
