name: Run Checks
on:
  pull_request:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  call:
    uses: OneSignal/sdk-shared/.github/workflows/wrapper-js-ci.yml@main
