name: Publish to NPM
on:
  pull_request:
    types:
      - closed
    branches:
      - main
      - rel/**

jobs:
  publish:
    if: |
      github.event.pull_request.merged == true &&
      contains(github.event.pull_request.title, 'chore: Release')
    uses: OneSignal/sdk-actions/.github/workflows/npm-publish.yml@main
    with:
      branch: ${{ github.event.pull_request.base.ref }}
